<script type="text/javascript">
  CHARACTER_LIST = ['<%= @characters.join("','").html_safe %>']
  function startShuffle(){
    random_character = CHARACTER_LIST[Math.floor((Math.random()*CHARACTER_LIST.length))];
    console.log(random_character)
    $(".prize-img").addClass('hidden');
    $('#character-name').html(random_character);
    $("[id='"+random_character+"']").removeClass('hidden');

  };
  function setCharacter(data){
    $(".prize-img").addClass('hidden');
    $('#character-name').html(data.character);
    newQuantity = $("#"+data.code).children().eq(1).text() *1 -1;
    $("#"+data.code).children().eq(1).text(newQuantity);
    $("[id='"+data.character+"']").removeClass('hidden');
    // window.alert("Congratulate, Your Prize is: "+data.code);
  };

  $( document ).ready(function() {
      $("#gacha-button").on('click',function() {
        $("#gacha-result").removeClass('hidden');
        var timer = setInterval(startShuffle,500);
        $.ajax({
            type: "POST",
            url: '/coaster/draw/',
            contentType: 'application/json',
            headers: {
              'X-CSRF-Token': $('input[name=csrfmiddlewaretoken').val()
            },
            success: function(data){
                if(_.isEmpty(data)){
                  clearInterval(timer);
                  $("#gacha-result").addClass('hidden')
                  $(".prize-img").addClass('hidden');
                  window.alert("NOTHING LEFT");
                } else {
                  setTimeout(function(){
                    clearInterval(timer);
                    setCharacter(data);
                  }, 5000);
                }
            },
            error: function(xhr, status, err) {
              window.alert("SORRY SOMETHING WENT WRONG");
            }
        });
      });

      $("#reset-button").on('click',function() {
          $("#prize-image").attr('src','');
          $("#gacha-result").addClass('hidden');
          $(".prize-img").addClass('hidden');
      })
    });
</script>
<div>
  <p id="notice"><%= notice %></p>

  <h1 class='text-center'>BangDream! Coasters</h1>

  <hr/>
  <div class='container-fluid'>
    <div id='gacha-result' class=''>
      <% @characters.try(:each) do |character| %>
        <%= image_tag '/assets/coaster/'+character.gsub(/\s/, '_')+'.png' , title: character, class: "prize-img rounded img-fluid img hidden mx-auto d-block", data: {},id: character %>
      <% end %>
      <p id='character-name' class='character-name text-center'></p>
    </div>
    <div class='row justify-content-center'>
      <div class='btn-section col-md-4 text-center'>
        <button type="button" id="gacha-button" class='btn btn-md btn-primary'>draw</button>
        <button type="button" id="reset-button" class='btn btn-outline-danger'>reset</button>
      </div>
    </div>
  </div>
  <hr/>
  <div class='container-fluid'>
    <div class='row justify-content-center'>
      <div class='btn-section col-md-4 text-center'>
        <!-- <button type="button" id="sample-button" class='btn btn-md btn-primary'>sample</button> -->
        <%= image_tag '/assets/coaster/coaster_sample.jpg', class: "rounded img-fluid img  mx-auto d-block" %>
      </div>
    </div>
  </div>
  <hr/>
  <div class='status-table'>
    <table class='table table-hover text-center'>
      <thead class='thead-dark'>
        <tr>
          <th class=' text-center'>Name</th>
          <th class=' text-center'>Remains</th>
        </tr>
      </thead>
      <tbody>
        <% @status.each do |character| %>
          <tr id='<%= character[0].split(' ')[1] %>'>
            <td><%= character[0] %></td>
            <td><%= character[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
