<%= link_to 'New Working Card', new_working_card_path %>

<%= link_to 'New Coaster', new_coaster_path %>

<h2> Coaster </h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @coasters.try(:each) do |coaster| %>
      <tr>
        <td><%= coaster.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2> Staff Card </h2>
<table class='table table-hover'>
  <thead class='thead-dark'>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Sold Time</th>
    </tr>
  </thead>

  <tbody class=''>
    <% @working_cards.try(:each) do |working_card| %>
      <tr>
        <td><%= working_card.id %></td>
        <td><%= working_card.name %></td>
        <td><%= working_card.sold %></td>
        <td><%= (working_card.soldTime!=nil ? working_card.soldTime.in_time_zone(-7) : ' ')%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>
